body {
    padding: 0px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}

.card-wrapper {
    width: 900px;
    background: #efefef;
    border-top: 3px solid #bfbfbf;
    margin: auto;
}

h1 {
    text-align: center;
    font-weight: 200;
    padding: 20px;
}

.footer {
    text-align: center;
    padding: 5px 0px 45px 0px;
}

.btn-section {
    float: right;
}

.btn-section button {
    background: #72c3dc;
    display: block;
    width: 250px;
    height: 45px;
    font-size: 16px;
    padding: 15px 50px;
    margin: 25px 22px 0 10px;
    color: #fff;
    border: 1px solid #2b8ead;
    border-radius: 5px;
    box-shadow: 0px 5px 0px #2b8ead;
    cursor: pointer;
}

.card-section {
    overflow: hidden;
    min-height: 170px;
}

#card-items {
    margin: 0;
    padding: 0;
    display: table;
}

.card-item {
    font-size: 75px;
    display: inline-block;
    color: #ffffff;
    font-weight: 100;
    padding: 20px 65px 20px 65px;
}

.card-color-one {
    background: #6f98a8;
}

.card-color-two {
    background: #2b8ead;
}

.card-color-three {
    background: #2f454e;
}

.card-color-four {
    background: #bfbfbf;
}

@media screen and (min-device-width: 0px) and (max-device-width: 375px) {
    .card-wrapper {
        width: auto;
        background: white;
        padding: 10px;
        border: none;
    }

    .header {
        margin: -17px 0px -5px 0px;
    }
    
    h1 {
        background: #333;
        color: #fff;
        font-size: 25px;
    }

    .footer {
        padding: 0px;
    }

    .btn-section {
        float: none;
        text-align: center;
    }

    .btn-section button {
        display: inline-block;
        width: 100px;
        padding: 15px 5px;
        margin: 0px;
    }

    .card-section {
        padding: 22px 5px 15px 5px;
    }

    #card-items {
        width: 100%
    }

    .card-item {
        padding: 10px;
        display: block;
        margin: 0;
        color: #333;
        font-size: 2em;
        text-align: center;
        background: #efefef;
        margin-bottom: 5px;
    }

    .card-color-one {
        border-left: 10px solid #6f98a8;
    }

    .card-color-two {
        border-left: 10px solid #2b8ead;
    }

    .card-color-three {
        border-left: 10px solid #2f454e;
    }

    .card-color-four {
        border-left: 10px solid #bfbfbf;
    }
}